@model CourseProject.ViewModels.ShoeSuppliers.ShoeSupplierDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>ShoeSupplierDetailViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <span>Shoes: </span>
        <ul>
                @foreach(var item in Model.Shoes)
                {
                    <li>@item.Name</li>
                    <li>@item.Price</li>
                }
        </ul>
    </dl>
</div>
<div>
        @Html.ActionLink("Edit", "EditShoeSupplier", new { id = Model.Id }) |
        <a asp-action="ListAllShoeSuppliers">Back to List</a>
</div>
</body>
</html>