@model IEnumerable<CourseProject.ViewModels.Shoes.ShoeDetailsViewModel>;

@{
    ViewData["Title"] = "All shoes";
}
<h1>All shoes</h1>

<button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Shoes")'">Create new </button>

<div class="shoes">
    @foreach (var item in Model)
    {
        <div class="shoe">
            <div class="img" style="background-image: url(@item.ImageUrl)"></div>
            <div class="info">
                <div class="brand">@item.Brand.BrandName</div>
                <div class="title">
                    @Html.ActionLink(@item.Name, "Details", new { ShoeId=item.Id })
                </div>
                <div class="price">@item.Price BGN</div>
                <div class="actions">
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Shoes", new { ShoeId=item.Id })'">Edit </button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Shoes", new { ShoeId=item.Id })'">Delete</button>
                </div>
            </div>
        </div>
    }
</div>
