@model CourseProject.ViewModels.Shoes.ShoeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShoeDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <div class="shoe">
            <img src=@Html.DisplayFor(model => model.ImageUrl) />
            <div class="details">
                <div class="title">@Html.DisplayFor(model => model.Id)</div>
                <div class="title">@Html.DisplayFor(model => model.Name)</div>
                <div class="brand">@Html.DisplayFor(model => model.BrandId)</div>
                <div class="category">@Html.DisplayFor(model => model.CategoryId)</div>
                <div class="price">@Html.DisplayFor(model => model.Price) BGN</div>

                <button type="button" onclick="location.href='@Url.Action("Cart", "Add", new { ShoeId = Model.Id })'">Add to cart</button>
            </div>
        </div>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { ShoeId = Model.Id }) |
    <a asp-action="AllShoes">Back to List</a>
</div>
