@model CourseProject.ViewModels.Shoes.ShoeDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <div class="shoe">
            <img src=@Html.DisplayFor(model => model.ImageUrl) />
            <div class="details">
                <h4 class="title">@Html.DisplayFor(model => model.Name)</h4>
                <div class="brand">Brand: @Html.DisplayFor(model => model.Brand.BrandName)</div>
                <div class="category">Category: @Html.DisplayFor(model => model.Category.CategoryName)</div>
                <div class="price">@Html.DisplayFor(model => model.Price) BGN</div>
                
                <div class="rate-container">
                    <div class="rate">Rating: </div>
                    @if (Model.Rating < 2){
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Star_rating_1_of_5.png" />
                    }
                    else if (Model.Rating < 3)
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/2_stars.svg/1280px-2_stars.svg.png" />
                    }
                    else if (Model.Rating < 4)
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/3.5_stars.svg/1280px-3_stars.svg.png" />
                    }
                    else if (Model.Rating < 5)
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/4_stars.svg/1200px-4_stars.svg.png" />
                    }
                    else
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/5_stars.svg/1280px-5_stars.svg.png" />
                    }
                    <div class="rate">@Html.DisplayFor(model => model.Rating) (@Html.DisplayFor(model => model.RatingsCount) ratings)</div>
                </div>

                <button class="btn btn-primary" onclick="location.href='@Url.Action("Rate", "Ratings", new { shoeId = Model.Id})'">Give rating</button>

                <hr />

                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Cart", new { ShoeId = Model.Id })'">Add to cart</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Shoes", new { ShoeId = Model.Id })'">Edit</button>
            </div>
        </div>
    </dl>
</div>
<div>
</div>
